fix = true
indent-width = 4
line-length = 120

[format]
docstring-code-format = true
indent-style = "space"
line-ending = "lf"
quote-style = "single"

[lint]
ignore = []
select = ["D", "E4", "E7", "E9", "F", "I"]
task-tags = ["TODO", "FIXME", "XXX", "HACK"]
